@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding: 0 32px;    
}


ul{
    list-style: none;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple{
    color: rgb(100 21 255);
}


/*

NAVIGATION

*/

.nav__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo__wrapper{
    display: flex;
    align-items: center;
}

.nav__logo{
    margin-right: 0.75rem;
    width: 2.5rem;
}

.nav__text{
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.nav__links{
    display: flex;
    font-weight: 600;
}

.nav__link{
    text-decoration: none;
    margin: 0px 1.5rem;
    padding-bottom: 4px;
    color: #243e63;
    font-size: 14px
}

.nav__login{
    margin-left: 48px;
    margin-right: 24px;
}

.nav__main{
    color: white;
    background: rgb(100 21 255);
    border-radius: 9999px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
    transition: all 300ms ease;
}

.nav__main--hover:hover{
    background: rgb(80,17,204);    
}


/*

HEADER

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__title{
    font-size: 36px;
    color: #1A202C;
}

.header__para{
    color: #243E63;
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header__input--wrapper {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__input{
    width: 100%;
    border-radius: 500px;
    color: #A0AEC0;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header__button{
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__customer{
    font-size: 12px;
    color: #A0AEC0;
    text-transform: uppercase;
}

.trusted__img{
    width: 40%;
    opacity: 0.5;
    padding-right: 4rem;
}

.header__img--wrapper {
    width: calc(100% - 41.6667%);    
}

.header__img{
    margin-top: 1rem;
    width: 100%;
    
}

