@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

section{
    padding: 0 32px;    
}

.purple{
    color: rgb(100 21 255);
}

a{
    text-decoration: none;
    list-style: none;
}

h1{
    color: #1a202c;
    line-height: 1.25;
    font-size: 48px;
}

p{
    font-size: 18px;
    line-height: 1.5;
}

.container{
    padding: 96px 0;
}

img{
    width: 100%;
}

/*

NAVIGATION

*/

nav{
    padding-top: 32px;
}

.nav__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img{
    width: 40px;
    height: 40px;
}

.nav__logo--text{
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    color: #243e63;
}

.nav__links{
    display: flex;
    align-items: center;
    color: #243e63;
    padding-bottom: 2px;
}

.nav__link{
    font-size: 14px;
    color: #243E63;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0px 24px;
}

.nav__link--login{
    margin-left: 48px;
}

.nav__link--primary{
    font-size: 14px;
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}

/* 

HEADER

*/

.row__header{
    display: flex;
}

.header__description{
    width: 41.6667%;
}

.header__description--para{
    margin: 32px 0;
    color: #243e63;
}

.header__email{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn{
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: calc(100% - 41.6667%);
    display: flex;
    justify-content: flex-end;
}